body { font-weight: 300; 
	li {list-style-type: none;}
	a:hover {text-decoration: none;}
	p { font-weight: 300}
}

.transition(@params) {
	transition: @params;
	-webkit-transition: @params;
	-moz-transition: @params;
}
.placeholder(@placeholder) {
	-webkit-input-placeholder: @placeholder;
	-moz-placeholder: @placeholder;
	-ms-input-placeholder: @placeholder;
}


.border-radius (@radius) {
	-webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}


h1 { color: @txtHeaderColor; font-size: 20px;}
p { color: @mainTxtColor; font-size: 13px;  }



.main-menu { background: @mainColor; border-bottom: solid 1px @mainTxtColor;
	li { float: left; height: 44px; line-height: 44px;
		&:last-child { border-right: none}
	}
	.reorder { float: right; border-left: solid 1px @mainTxtColor; line-height: initial;
		i { font-size: 22px; color: @txtHeaderColor}
	}
	.nav-search { float: right; border-left: solid 1px @mainTxtColor; line-height: initial; position: relative; top: 1px; 
		i { font-size: 18px; color: @txtHeaderColor}
	}
	img { height: 20px; line-height: 20px; display: inline;  margin-left: 16px; }
}

.features { 
	.col-md-4 { 
		.box { text-align: left; position: relative; padding: 0px 0px 0px 56px; margin-top: 0;
			&:hover i { color: @highlightColor;}
			i { position: absolute; font-size: 26px; left: 15px; color: @iconColor; .transition(color 0.2s linear);}
		}
	}
}


.photo-people {
	img { .border-radius (50%);
	}
}

.testimonials {
	.col-md-5 {
		figure { float: left; margin-right: 10px;
			img {  width: 70px; height: 70px}
		}
		.data-person { padding-top: 10px;
			strong { font-size: 14px; color: @txtHeaderColor; font-weight: 400}
			span { font-size: 10px; color: @mainTxtColor; display: block; line-height: 10px}
		}
	}
	.col-md-7 { padding: 6px 20px;
		p { font-style: italic; padding-bottom: 0;}
	}
	
}

.team {
	.col-md-3 { text-align: center; padding: 0 20px 20px}
	.name { padding: 6px; padding-bottom: 16px; font-size: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
		strong { color: @txtHeaderColor; font-weight: 400}
		span { color: @highlightColor; font-weight: 400}
	}
	.status {font-size: 12px; color: @mainTxtColor; font-style: italic; }
	.photo-people { margin-bottom: 5px; }
}

.logo-clients { 
	figure {display: inline; padding: 10px 30px;}

}

.banner { 
	.section-nav { padding: 0; margin-top: 10px; 
		li { display: inline-block; padding-right: 30px; 
			&:hover a { color: @highlightColor}
			a { color: @mainTxtColor; .trans(color 0.2s linear; )}
		}
	}
}
.portfolio-show-more-container { text-align: center; margin: 20px auto 0 }
.blog-show-more-container { text-align: center; margin: 0 auto; }
.blog {


	.blog-content { margin-top: -20px; 
		a {
			small { color: @mainTxtColor;}
			&:hover small {color: @highlightColor;}
		}
		p {font-size: 13px; line-height: 1.5em; margin-bottom: 20px }
	}
	.img-art { position: relative;
		img { width: 100%; height: auto}
		.date-art { position: absolute; top: 0; width: 36px; height: 22px; background: @mainColor; color: @mainTxtColor; display: block; padding: 3px; font-size: 10px}
	}
	.title-art { font-size: 10px; color: @mainTxtColor; position: relative;
		h1 { font-weight: 300; font-size: 18px; line-height: 10px;
			&:hover {color: @highlightColor};
		}

		.blog-tags { position: absolute; right: 0; top: 19px;
			li { display: inline-block; border-right: solid 1px @mainTxtColor; padding: 0; line-height: 10px;
				&:last-child { border: none}
				a { color: @mainTxtColor; padding: 0 5px;
					&:hover {color: @highlightColor};
				}
			}
		}
	}
}

a.blog-selected {color: @highlightColor !important}
a.portfolio-selected {color: @highlightColor !important}

.contact { color: @txtHeaderColor; font-size: 20px;
	.data-company { padding-left: 0;
		&:nth-child(2) { padding-top: 20px}
	li { font-size: 19px;
		&:first-child { color: @highlightColor; text-transform: uppercase; font-size: 12px; font-weight: 400}
	}
	}

	form { 
		input[placeholder], textarea { .placeholder (  @borderColor); font-weight: 300; margin-bottom: 32px; font-size: 18px; padding-left: 5px}
		textarea { height: 100%; min-height: 122px;
		}
		.buttonform { border: solid 1px @borderColor; width: 100%; max-width: 280px; background: transparent; color: @borderColor; font-weight: 300; font-size: 18px; margin-bottom:40px;
			&:hover { color: @txtHeaderColor;}
		}
		label { border-bottom: solid 1px @borderColor; max-width: 280px; width: 100%; font-weight: 300; font-size: 18px; color: @borderColor; padding-left: 5px }
		input:focus, textarea:focus { outline: none; border-bottom: solid 1px @highlightColor; color: @txtHeaderColor}
		.contact-form { background: transparent; border: solid 1px transparent; border-bottom: solid 1px @borderColor; max-width: 280px; width: 100%;

		}


	}
	.input-wrapper { position: relative;}
	.error { position: absolute; width: 100%; left: 0; top: 33px; background: red; background: rgb(255, 168, 168); font-size: 12px; border: 1px solid rgb(199, 0, 0); color: rgb(180, 56, 56); text-shadow: 1px 1px 0 rgb(228, 187, 187); padding: 1px 4px; }
 	.message {
 		.error { top: initial; bottom: 8px;}
 	}
 	.alert-success { font-size: 12px; }
}


.feed { margin-top: 40px; background: @feedBackgrColor; color: @mainColor; line-height: 0; overflow: hidden;
	ul { margin: 0; }
	.banner { margin: 30px 0; }
	.media-body	{ padding: 5px 20px;
		h2 { font-size: 14px; margin-bottom: 12px}
		p { color: @tweetDateColor; font-size: 12px}
	}

	a { color: @mainColor; 
		&:hover { color: @tweetDateColor}
		i {font-size: 42px}
	}
	.navarrows { top: 25% !important; right: 20px !important;
		i { font-size: 14px; color: @mainColor;
			&:hover { color: @tweetDateColor}
		}
	}
}

.map { overflow: hidden; padding: 20px 0;
	.widgets { color: @footerMainText;
		.row { z-index: 3; position: relative; .trans(opacity 0.3s linear);
			.widgettitle { color: @mainColor; padding-bottom: 10px;
				i { font-size: 24px; padding-right: 10px; color: @mainColor}
				h1 { color: @mainColor;}
			}
			.media { padding-bottom: 10px; overflow: visible; 
				figure { margin-right: 10px; float: left; }
				img { .border-radius (2px); border: 1px solid rgba(0, 0, 0, 0.3); }
				.media-body { padding: 8px 0 0;  
					h2 { font-size: 11px; font-weight: 300; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; .trans(e('background-color 0.2s ease-out, color 0.2s ease-out'));}
					p { font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0; .trans(e('background-color 0.2s ease-out, color 0.2s ease-out'));}
				}				
				a { color: @footerMainText; display: block; overflow: hidden; padding:5px; margin-left: -5px; .trans(background-color 0.2s ease-out);
					&:hover { background-color: @highlightColor; 
						.media-body {
							h2 { color: @mainColor; }
							p { color: rgba(255,255,255,0.6);}
						}
					}

				}

			}
			.specification { color: @footerMainText; font-size: 11px; line-height: 18px; font-weight: 300}
			.social-icon { 
				a { display: inline-block; margin-right: 10px; color: @mainColor; .zoom(1); .transformTransition(transform, 0.2s, ease-out);
					&:hover { .zoom(2); }
				}
			}
			.contact { padding: 0;
				li { color: @footerMainText; font-weight: 300; font-size: 11px}
				a { color: @highlightColor; font-weight: 500;
					&:hover { color: @footTxtColor;}
				}
			}
			.tagcloud { padding: 0;
				li { display: inline-block; padding-bottom: 17px; -webkit-transition: -webkit-transform 0.2s ease-out; transition: transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; 
					&:hover { -webkit-transform: scale(1.4, 1.4); 
						a { background-color: darken(@footLiColor, 5%); }
					}
				a { padding: 10px 18px; background: @footLiColor; color: @footerMainText; font-size: 10px; font-weight: 300; margin-bottom: 20px;
					.trans(e('color 0.2s linear, background-color 0.2s linear'));}
			}
			}
		}
		
	}
}
.full-bg { width: 100%; position: relative;
	.row { transition: opacity 0.3s ease-out; }
	h1 { font-weight: 300; }
	.bg-opacity { .zoom(1); width: 100px; height: 100px; border-radius: 50%; background: transparent; position: absolute; box-shadow: 0 0 0 1500px fade(@footBackgrColor, 90%); box-sizing: initial; z-index: 1;
		.transformTransition(transform, 0.7s,ease-in-out);
		&.bg-opacity-hover { .transformTransition(transform, 0.2s,ease-out);
			.zoom(1.2);
			.bg-opacity-ripple { .zoom(1.5); opacity: 0; }
		}
		.bg-opacity-ripple { width: 100px; height: 100px; position: absolute; left: 0; top: 0; border-radius: 50%;  background: #fff; .trans(all 0.2s linear); opacity: 0.2;}
	}
	&:hover {
		// .bg-opacity { -webkit-transform: scale(30,30); }
		// .row { opacity: 0; }
	}
}

label.highlight { color: @txtHeaderColor !important; border-bottom: solid 1px @highlightColor !important }
