.trans(@params) {
	transition: @params; -webkit-transition: @params; -moz-transition: @params;
}

header {
	// &.navbar-fixed-top { position: static !important; }
	// &.navbar { opacity: 0; transition: opacity 0.1s linear;}
	// &.navbar-fixed-top { opacity: 1}
}
 

.container {
	&.first-container, &.contact, &.features, &.news, &.team, &.testimonials, &.blog, &.clients {
		margin-bottom: 40px; 
	}
}

.animate-from-bottom { }

.splash-navigation { position: absolute; bottom: 0; width: 100%; left: 0; background: @highlightColor; transition: height 0.2s ease-out; z-index:100; padding: 0 0;
	> li { background: @highlightColor; transition: background-color 0.2s ease-out; -moz-transition: background-color 0.2s ease-out; -webkit-transition: background-color 0.2s ease-out; padding: 10px 25px; display: table-cell; float: none;
		
		> a { border: none !important; color: #fff; font-size: 16px; font-weight: 500;
			i { opacity: 0.15; margin-right: 10px; color: #000; font-size: 30px; position: relative; top: 5px; transition: color 0.2s ease-out, opacity 0.2s ease-out; -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out; -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;}
		}
		&:hover { background: #fff; 
			a { color: @highlightColor !important; 
				i { color: @highlightColor; opacity: 1;}
			}

		}
	}

}


.splash-header { position: absolute; z-index: 100; left: 0; right: 0; margin-top: 35px; 
	.social-icon { position: absolute; top: 10px; right: 10%; font-size: 16px; z-index: 105;
				a { padding-right: 10px; color: #aeaeae;
					&:hover { color: @txtHeaderColor;}
				}
			}
}
.splash-search { position: absolute; right: 0; top: 0;
	input { border: none; border-bottom: 1px solid @highlightColor; font-size: 40px; font-weight: 300; background: transparent; opacity: 0; z-index: 100; position:absolute; top: -100px; right: 0; transition:  opacity 0.5s linear; -webkit-transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; 
		&:focus { border: none; outline: none; border-bottom: 1px solid @highlightColor; opacity: 1; }
		&::-webkit-input-placeholder { font-weight: 300; color: #aeaeae;  }
	}
	i { font-size: 40px; position: absolute; right: 0; top: 0; opacity: 0.5; z-index: 101; cursor: pointer;
		&:hover { opacity: 1}
	}
}



#site-wrapper { background: @mainColor  }
#mobile-nav { position: fixed; width:100%; left: 0; top: 0; height: 100%; background: #202020; transition: transform 0.35s ease-out; -webkit-transition: -webkit-transform 0.35s ease-out; -moz-transition: -moz-transform 0.35s ease-out;  z-index:50; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); -moz-transform: translate(-100%, 0); }
.mobile-nav-show { overflow: hidden;

	#site-wrapper { }
	#mobile-nav { -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px); transform: translate(0px, 0px);  }
}

.fixed-nav { position: fixed; top: 0; z-index: 22; }

#flyout-container { width: 100%; height: 100%; overflow: auto;
	.flyout-menu { height: 100%;  padding-top: 50px; 
		li { border-bottom: 1px solid #2B2B2B; clear: both; 
			&:last-child { border-bottom: none}
			a { color: @footerMainText; padding: 14px; text-transform: capitalize; font-size: 14px; font-weight: 400; text-rendering: optimizeLegibility;
				i { opacity: 0.15; margin-right: 10px; color: #fff; font-size: 30px; position: relative; top: 5px; display: inline-block; width: 40px; text-align: center;}
			}
		}
		.reorder { border-bottom: 1px solid #2b2b2b; overflow: hidden; position: fixed; top: 0; width: 100%; background: #202020; z-index: 23; 
			a { float: right; padding: 10px 15px; 
				i { margin: 0; position: static; font-size: 22px; display: inline; width: auto; }
			}
		}
	}
}

.news-container { 
	img { width: 100%; height: auto; -webkit-backface-visibility: hidden; }
}

.animate-carousel {
	> div { opacity: 0; .trans(opacity 0.3s linear); -webkit-backface-visibility: hidden;
		&.run-anim { opacity: 1; -webkit-backface-visibility: hidden;	}
	}
}

.portfolio-container { margin: 0 auto 40px;}
.portfolio-show-more-container { margin: 20px auto 0;}
.masonry-container { margin-top: -20px; }


.hover-figure { position: relative; overflow: hidden;
	&:after { content: ''; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: @highlightColor; opacity: 0; .trans(opacity 0.2s ease-out); z-index: 20; }

	.hover-figure-nav { position: absolute; top: 50%; display: block; width: 100%; height: 60px; margin-top: -30px; text-align: center; z-index: 21; opacity: 0; .trans(opacity 0.2s ease-out); 
		a { color: #fff; font-size: 40px; transition: -webkit-transform 0.3s ease-out; display: inline-block; margin: 0 20px; 
			&:first-child { -webkit-transform: translate( -100px, 0); }
			&:last-child { -webkit-transform: translate( 100px, 0); }
			&:hover {
				// background-color: #fff; padding: 10px; border-radius: 50%; 
				-webkit-transform: rotateY(130deg); /* Safari and Chrome */
			}
		}
	}
	&:hover {
		&:after { opacity: 0.7}
		.hover-figure-nav { opacity: 1; 
			a { -webkit-transform: translate(0,0); }
		}
	}	
}

.item { width: 20%; height: 100px; float: left; background: #09F; }

.mosaic-w1-h2,
.mosaic-w1-h1,
.mosaic-w2-h1 {
	img { width:100%; height: auto; }
}

.masonry-container a{
	display: block; overflow: hidden; padding: 10px; padding-top: 20px; 
}
.masonry-container img { 
display: block; }

@animationTime : 1s;

/* Content style */
section { width: 90%; max-width: 46em; text-align: justify; padding: 1em 2em 0; margin: 0 auto; color: #ecf0f1; line-height: 1.3; font-size: 1.8em; }

section p {	opacity: 0.4; }

.scroll {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 2em;
	line-height: 2;
	width: 10em;
	text-align: center;
	height: 2em;
	color: #e74c3c;
	background: #fff;
	font-style: normal;
	text-transform: uppercase;
	opacity: 0.8;
}

.scroll::after {
	display: block;
	content: '\2193';
	color: #fff;
	font-size: 3em;
	line-height: 1;
}

/* Header styles and animations */

.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 50;
	// font-family: 'Lato', Arial, sans-serif;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all @animationTime;
	-moz-transition: all @animationTime;
	transition: all @animationTime;
}

.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}

.ha-header-perspective > div {
	background: #fff;
	text-align: left;
	padding: 0;
	height: 50%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all @animationTime;
	-moz-transition: all @animationTime;
	transition: all @animationTime;
	overflow: hidden;
}

.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.ha-header-perspective .ha-header-bottom {
	background: #ddd;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	z-index: 1;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: top @animationTime;
	-moz-transition: top @animationTime;
	transition: top @animationTime;
	position: absolute;
	top: 0;
}

/* Justify inline-block elements (h1 on left side, nav on right) */
.ha-header-perspective > div::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Individual states */

.ha-header-large {
	height: 420px;
}

.ha-header-small {
	height: 220px;
}

.ha-header-hide {
	height: 220px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ha-header-show {
	height: 220px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

.ha-header-show .ha-header-bottom {
	opacity: 0;
	-webkit-transition: top @animationTime, opacity 0s @animationTime;
	-moz-transition: top @animationTime, opacity 0s @animationTime;
	transition: top @animationTime, opacity 0s @animationTime;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 0%;
}

.ha-header-subshow {
	height: 220px;
}

.ha-header-subshow .ha-header-bottom {
	-webkit-transition: top @animationTime;
	-moz-transition: top @animationTime;
	transition: top @animationTime;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
}

.ha-header-shrink {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-shrink .ha-header-bottom {
	opacity: 0;
}

.ha-header-rotate {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-rotate .ha-header-front {
	-webkit-transform: translateY(-100%) rotateX(90deg);
	-moz-transform: translateY(-100%) rotateX(90deg);
	transform: translateY(-100%) rotateX(90deg);
}

.ha-header-rotate .ha-header-bottom {
	top: 50%;
	-webkit-transition: -webkit-transform @animationTime;
	-moz-transition: -moz-transform @animationTime;
	transition: transform @animationTime;
	-webkit-transform: rotateX(0deg) translateY(-100%);
	-moz-transform: rotateX(0deg) translateY(-100%);
	transform: rotateX(0deg) translateY(-100%);
}

.ha-header-rotateBack {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-rotateBack .ha-header-front {
	-webkit-transform: translateY(0%) rotateX(0deg);
	-moz-transform: translateY(0%) rotateX(0deg);
	transform: translateY(0%) rotateX(0deg);
}

.ha-header-rotateBack .ha-header-bottom {
	top: 50%;
	-webkit-transition: -webkit-transform @animationTime;
	-moz-transition: -moz-transform @animationTime;
	transition: transform @animationTime;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

.ha-header-color {
	height: 420px;
}

.ha-header-color .ha-header-front,
.ha-header-color .ha-header-bottom {
	background: #f3796c;
}

.ha-header-color h1,
.ha-header-color nav a {
	color: #fff;
}

.ha-header-box {
	height: 192px;
	width: 100px;
	top: 20px;
	left: 20px;
}

.ha-header-box h1 {
	padding-left: 150px;
}

.ha-header-box h1,
.ha-header-box nav a {
	color: transparent;
}

.ha-header-box h1:after {
	opacity: 1;
}

.ha-header-box nav {
	opacity: 0;
}

.ha-header-fullscreen {
	height: 100%;
	opacity: 1;
	// background: @highlightColor;
}

.ha-header-fullscreen-off {
	display:none;
}

.ha-header-fullscreen .ha-header-front {
	height: 100%;
}

.ha-header-fullscreen .ha-header-bottom {
	opacity: 0;
	-webkit-transition: top 0.9s, opacity 0s @animationTime;
	-moz-transition: top 0.9s, opacity 0s @animationTime;
	transition: top 0.9s, opacity 0s @animationTime;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
	background: #f3796c;
}

.ha-header-navbar {
	height: 220px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}


.ha-header-subfullscreen {
	height: 0;
	opacity: 1;
}

.ha-header-subfullscreen .ha-header-bottom {
	-webkit-transition: top @animationTime;
	-moz-transition: top @animationTime;
	transition: top @animationTime;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
	background: #f3796c;
}

.ha-header-subfullscreen .ha-header-bottom nav a {
	color: #fff;
}

.color-switcher { position: fixed; left: 0; top: 90px; z-index: 899;
	ul { margin: 0; padding: 0; display: block;
		li { display: block; }
		.theme-preview { display: block; width: 20px; height: 20px;}
		.theme1 { background: @theme1;}
		.theme2 { background: @theme2 ;}		
		.theme3 { background: @theme3 ;}
		.theme4 { background: @theme4 ;}
		.theme5 { background: @theme5 ;}
		.theme6 { background: @theme6 ;}
		.theme7 { background: @theme7 ;}
	}
}
