//Colors

@theme1 : #ff6565;
@theme2 : #A677CA;
@theme3 : #86CC97;
@theme4 : #78A6D8;
@theme5 : #F89B5D;
@theme6 : #8B9599;
@theme7 : #92B8C0;


@highlightColor : @theme7;
@splashSocMedIcoColor :#cbcbcb;
@mainNavBarIcoColor :#da5c5c;
@txtHeaderColor :#515151;
@borderColor :#e4e4e4;
@mainTxtColor :#797979;
@iconColor :#d7d7d7;
@tweetDateColor :#b0ebff;
@contactTxtColor :#cbcbcb;
@contactPostDateTxtColor :#949494;
@mainColor :#ffffff;
@footTxtColor :#a8a8a8;
@footerMainText: #e4e4e4;
@footBackgrColor: #3d3d3d;
@footLiColor: #5F5F5F;
@feedBackgrColor: #4fc7ef;
//dimensions
@sizeEdge :1px;
@sizeCircle :80px;

@deg :-20deg;




a:focus { outline:0px none !important;}

.edge { height: @sizeEdge; width: 100%; background-color: @borderColor;}

.progressbar { height: @sizeEdge; background-color: @highlightColor; position: absolute; left: 0; .trans(width 0.2s linear);}

.highlight { color: @highlightColor;}

body { padding-top: 71px;}

.navbar { z-index: 1000; background-color: @mainColor;}

header {position: relative;
	.progressbar { bottom: 0;}
	figure { padding-top: 25px;  float: left;}
	ul { list-style-type: none;overflow: hidden; margin-bottom: 0; 
		li { float: left; padding: 0px 15px 0px 15px; text-align: center;
			a { color: @txtHeaderColor;display: inline-block; line-height: 50px;width: 100%; font-size: 13px; font-weight: 400; .trans(color 0.2s linear);
				&:hover {text-decoration: none; color: @highlightColor;}
			}
			&.active {
				a {text-decoration: none; color: @highlightColor;}
			}
		}
	}
}
#main-nav {
	.nav { float: right; }
}

.intro { text-align: center;padding: 20px;margin: 50px 0;
	h2 { font-weight: 300; font-size: 22px; padding: 0 120px; line-height: 34px}
	a { color: @highlightColor;
		&:hover {text-decoration: none;}
		&:focus {text-decoration: none !important;}
	}
}

.banner { position: relative;margin: 40px 0;
	h3 { color: @txtHeaderColor; font-weight: 400; font-size: 20px}
	.navarrows { position: absolute; right: 0;top:0;
		a { color: @iconColor;
			&:hover { text-decoration: none; color: @highlightColor;}
		}
	.icon-chevron-left { margin-right: 5px;}
	.icon-chevron-right { margin-left: 5px;}
	}
	.progressbar { top: 36px;}
	.edge { margin-top: 14px}
}

.circle	{  text-align: center; -webkit-transition: all 0.2s linear; position: relative; height: @sizeCircle; width: @sizeCircle; border-radius: 50%; 
	color: @iconColor;line-height: @sizeCircle;margin: 0 auto; 
	i { .icon-2x; .transition(color 0.2s linear); font-size: 38px !important; line-height: 28px; vertical-align: middle; display: block; width: (@sizeCircle - 4); height: (@sizeCircle - 4);
	border-radius: 50%; line-height: (@sizeCircle - 4); }		

	.state-first { position: absolute; top: 0; height: @sizeCircle; width: @sizeCircle; border-radius: 50%; border: 2px solid @iconColor; .trans(all 0.5s ease-out); -webkit-transform: translate(0px,0px) scale(1,1); -moz-transform: translate(0px,0px) scale(1,1); transform: translate(0px,0px) scale(1,1); opacity: 1; }
	.state-animated { position: absolute; top: 0; right: 0; background: @highlightColor;  height: @sizeCircle; width: @sizeCircle; border-radius: 50%; border: 2px solid @highlightColor; -webkit-transform: translate(0px,-100px) scale(0,0); -moz-transform: translate(0px,-100px) scale(0,0); transform: translate(0px,-100px) scale(0,0); opacity: 0;
		 .trans(all 0.3s ease-out 0.1s);
		 i { color: @mainColor;}
	}
}

.ad { text-align: center;}


.box { text-align: center; margin: 20px 0;
	p {color: @mainTxtColor; padding-top: 10px; margin-bottom: 30px; }
	h3 { color: @txtHeaderColor; font-size: 20px; margin-top: 35px; }
	span { color: @highlightColor; }
	&:hover { 
		.circle .state-first { -webkit-transform: translate(0px,100px) scale(0,0); -moz-transform: translate(0px,100px) scale(0,0); transform: translate(0px,100px) scale(0,0);  opacity: 0; }
		.circle .state-animated { -webkit-transform: translate(0px,0px) scale(1,1); -moz-transform: translate(0px,0px) scale(1,1); transform: translate(0px,0px) scale(1,1); opacity: 1;}

		i { }

	}
	.media-object { max-width: 280px; height: 200px; }
	.media-body { text-align: left; padding-top: 5px; max-width: 280px; 
		h6 { color: @mainTxtColor; font-weight: 300; font-size: 10px; }
		h4 { color: @txtHeaderColor; font-weight: 300}
	}
}






.feat-container {
	.box {
		h3 { margin-top: 0}
	}
}

.spacing { width: 20px; height: 1px; background: @mainTxtColor; margin: 15px 0}

.image-box { position: relative; 
	.photocorner { width: 32px; height: 32px; background-color: @mainColor; position: absolute; bottom: 0; left:0;  text-align: left;
		i { color: @iconColor; .icon-2x; font-size: 24px; line-height: 38px;}
	}
	span { color: @mainColor;
	}
	&:hover .circle {background-color: @highlightColor; border-color: @highlightColor;
		i {color: @mainColor;}		
	}	
}

.boxicon { margin-bottom: 0}

#googlemap { z-index: 0; height: 100%; width: 100%; position: absolute; top:0; left: 0;}

.wrapper { position: relative; background-color: transparent; z-index: 20;}

footer {background-color: fade(@footBackgrColor,98%); z-index: 10; position: relative;  

	.menu { overflow: hidden; padding-top: 40px; padding-bottom: 40px; 
		ul { list-style-type: none; overflow: hidden; 
			li { float: left; padding-right: 30px; font-size: 11px; font-weight: 400; 
				a { color: @footTxtColor; 
					&:hover { color: @highlightColor; }
				}
			}
		}
	.copyrights {color: @footTxtColor;  float: right;}
	}
}

.btn { height: 40px; width: 138px; 
	&:hover { background-color: @highlightColor !important; border-color: @highlightColor; color: @mainColor;}
	&:focus { outline:0px none !important;}
}

.btn-default {
	&:focus { background-color: transparent;}
}

.team .photo-people { opacity: 0;
	.base-photo { -webkit-transition: all 0.1s linear; }
	.color-photo { position: absolute; left: 50%; margin-left: -60px; opacity: 0; -webkit-transition: all 0.3s linear; }
	&:hover { 
		.base-photo { opacity: 0;  -webkit-transform: translate(0, 15px);}
		.color-photo { opacity: 1; -webkit-transform: translate(0, -15px); }
	}
}

.widgets { position: relative; }
.widgets .col-md-3 { opacity: 0;}

.rot {  width: 70px; height: 70px; border-radius: 50%;}


.hover-img { 
	img:first-child { -webkit-transition: all 0.3s ease-out; -webkit-transform: scale(1, 1); position:relative; z-index: 2; }
	img:last-child { -webkit-transition: all 0.4s ease-out 0.2s; position: absolute; top: 0; opacity:0; z-index: 3; }
	&:hover {
		img:first-child { opacity: 0; -webkit-transform: scale(0, 0); }
		img:last-child {opacity: 1; -webkit-transform: scale(1,1); -webkit-transition: opacity 0.4s ease-out; }
	}
}

.transformTransition(@transition, @duration, @timingFunction: ease-in-out ) when (@transition = transform) {
  -webkit-transition: -webkit-transform @duration @timingFunction;
     -moz-transition: -moz-transform @duration @timingFunction;
      -ms-transition: -ms-transform @duration @timingFunction;
       -o-transition: -o-transform @duration @timingFunction;
          transition: transform @duration @timingFunction;
}

.rotate(@degree, @numb){
	transform: rotate(@degree) scale(@numb, @numb);
	-ms-transform: rotate(@degree) scale(@numb, @numb); /* IE 9 */
	-webkit-transform: rotate(@degree);
}
.zoom(@numb){
	transform: scale(@numb,@numb);
	-ms-transform: scale(@numb, @numb); /* IE 9 */
	-webkit-transform: scale(@numb, @numb);
	-moz-transform: scale(@numb, @numb);
}
                    
#clientSlide {
	figure {height: 55px; text-align: center;
		&:hover {
			.client-hover { opacity: 1; }
		}
	}
	img {width: 130px; vertical-align: middle;}
	.client-hover {  opacity: 0.15; .trans(opacity 0.3s ease-out); }
}

.sliderItemWrapp { float: left; 
	figure { display: table-cell; vertical-align: middle}
}

.newsMedia { 
	figure { width: 50%;
	}
	.media-body { text-align: left; padding-top: 5px; 
		h6 { color: @mainTxtColor; font-weight: 300; font-size: 10px; }
		h4 { color: @txtHeaderColor; font-weight: 300;}
	}
	.spacing { width: 20px; height: 1px; background: @mainTxtColor; margin: 15px 0;}
}

.clickOn { width: 100px; height: 100px; border-radius: 50%; background: transparent; position: absolute; 
	box-sizing: initial; z-index: 5;
	&:hover { cursor: pointer; }
}

.exitMap { display:none; position: absolute; z-index: 1; top: 20px; right: 20px; background-color: fade(@footBackgrColor, 93%); opacity: 0.7; cursor: pointer;
	width: 50px; text-align: center; line-height: 50px; font-size: 30px; color: #fff; height: 50px; border-radius: 50%;
	// &:hover { opacity: 1}
	p { color: @footerMainText;}

}
