.blog { 
	.article-content { width: 50%; padding: 10px }
}

@media (max-width: (@screen-sm - 1 )) {


	.mobile-slider-wrapper { width:385px; overflow:hidden; position:relative; 
		.title, .content { display: none}
	}
			
	.mobile-slider { float:left; display:inline; 
		-webkit-transition: -webkit-transform 0.5s ease-out;
		-moz-transition: -moz-transform 0.5s ease-out;
		transition: transform 0.5s ease-out;
				padding:0px;
				margin:0px;
				
		-webkit-transform: translate3d(0px,0px,0px); 
		-moz-transform: translate3d(0px,0px,0px); 
		transform: translate3d(0px,0px,0px); 
	}
	
	
	.mobile-slider .sliderItemWrapp { padding:0px 0 0 10px; margin:0px; width:385px;
		 -webkit-transform: translate3d(0px,0px,0px); 
		 -moz-transform: translate3d(0px,0px,0px); 
		 transform: translate3d(0px,0px,0px); 
	}


	.hover-portfolio figure { overflow: hidden;}
	.mosaic-w2-h2,
	.mosaic-w1-h1,
	.mosaic-w2-h1 {
		img { width:auto; height: 100%; }
	}

	.team .photo-people,
	.widgets .col-md-3,
	.anim1, .anim2 { opacity: 1;}

	.ha-header-fullscreen,
	.ha-header-subfullscreen { display: none}

	body { padding-top: 46px !important}
	.features {
		.col-md-4 {
			.box { padding: 0;
				h3 { margin: 0; padding-top: 8px}
				.title-features { line-height: 48px; margin:0; float: left;}
				i { position: inherit; font-size: 24px !important}
				.btn { float: none; margin-bottom: 20px}
				p { clear: both}
			}
		}
	}
	.mobile-search-active { background: @highlightColor; border-bottom-color: @highlightColor !important;  
		i { color: @mainColor !important; }
	}
	.mobile-search { position: absolute; left:0; top: 44px; height: 45px; width: 100%; background: @highlightColor; display: block; padding: 5px; 
		-webkit-transform: translate(0px, -50px);  -webkit-transition: -webkit-transform 0.2s ease-out; 
		-moz-transform: translate(0px, -50px);  -moz-transition: -moz-transform 0.2s ease-out; 
		transform: translate(0px, -50px);  transition: transform 0.2s ease-out; 				
		z-index: 1;
		input { width: 100%; border: 1px solid darken(@highlightColor, 10%); padding: 6px 10px; }
		&.active { -webkit-transform: translate(0px, 0px);  -moz-transform: translate(0px, 0px); transform: translate(0px, 0px); }
	}

	.feed {
		.navarrows { display: none; }
	}

	header#ha-header { position: static !important}
	.intro {
		h2 { padding: 0 !important}
	}
	.btn { left: 0 !important}
	footer {
		.menu { padding-bottom: 0 !important; margin-bottom: 0 !important;
			li { float: none !important; display: inline-block;}
			li:first-child { padding-left: 0 !important}
		}
		.col-md-6 { padding: 0 !important}
		.col-xs-12 { text-align: center; margin-bottom: 10px; margin-top: 10px;
			span {padding: 0 !important; float: none !important;}
		}
		
	}
	.bg-opacity { width: 0 !important; height: 0 !important}

	body { padding-top: 46px !important}
	.intro { margin: 0 !important}
	header.navbar { display: none !important}


	.progressbar { display: none;}
	.intro {
		h2 { padding: 0 !important}
	}
	.testimonials {
		figure { float: none !important}
		.col-md-7 { padding-top: 0 !important;
			p { margin-bottom: 40px;}
		}
	}

	.widgets {
		.media-body { padding: 8px 0 0 0 !important;}
	}
	.feed .media {
		.media-body { padding: 0 !important}
		i { display: none}
	}
	

	footer {
		.menu { padding: 10px; margin-top: 0px;
			.copyrights { padding-bottom: 10px;}
		}
	}

	.bg-opacity { width: 0 !important; height: 0 !important}

	.sliderItemWrapp { 
		.col-md-2 { width: 50%;float: left;}
		.col-md-6 {
			.newsMedia{
				figure { width: 100%; float: none;}
			} 
		}
		.col-md-3 { margin: 10px 0;}
	}
	header {
		.col-md-4 {width: 100%;padding: 0; text-align: center;}
		.col-md-8 {width: 100% !important;padding: 0; text-align: center;}
		ul { margin: 0;width: 100%; padding: 0;
			li { float: none; display: inline-block; clear: both; width: auto; font-size: 14px;}
		}
		.progressbar { top:121px;}
	}

	.media-body { }
	.media-object { width: 100%; float: none;}
	.newsMedia {
		figure { float: none; width: 100%;}
	}
	.ad, .news { 
		// .col-md-3 { width: 100% !important; float: none; clear: both; text-align: center;}
	}

	.features {
		.col-md-4 {
			.box { padding: 0;
				h3 { margin: 0; padding-top: 8px}
				i { position: inherit;}
				.btn { float: none; margin-bottom: 20px}
			}
		}
	}
	.box { text-align: left;
		h3 { margin-left: 60px; padding-top: 16px;}
		.circle, .title-features  { height: 50px; width: 50px; line-height: 48px; margin:0; float: left;
			i { font-size: 24px !important; width: 46px; height: 46px; line-height: 46px; }
		}
		.circle { 
			.state-animated,
			.state-first  { height: 50px !important; width: 50px !important; }
		}
		p { clear: both;}
		.btn { float: right;}
	}

	.ad {
 		.box { text-align: left;
		h3 { margin-left: 60px; padding-top: 16px;}
		.circle, .title-features  { height: 50px; width: 50px; line-height: 48px; margin:0; float: left;
			i { font-size: 24px !important;}
		}
		p { clear: both}
		.btn { float: left; margin-bottom: 40px}
		}
 	}
	

	.grid-sizer { width: 50%;}
  .portfolio-container {
    width: 100%;
  }
  .mosaic-elements-mobile((@screen-xs - 30));
  .mosaic-w1-h2{
	img { width:auto !important; height: 100% !important; }
	}
 .mosaic-w2-h1{ 
 	img { width: auto !important; height: 100% !important;}
 }
.blog { 
	.article-content { width: 50%; padding: 10px }
}
	.hover-portfolio { 
		.portfolio-description { display: none; }
	}
}

@media (min-width: 620px) and (max-width: (@screen-sm - 1)) {
  .mosaic-w1-h1,
  .mosaic-w1-h2{
	img { width: 100% !important; height: auto !important; }
	}
}




@media (min-width: @screen-sm) {
.anim1, .anim2, .banner { opacity: 0}

.splash-navigation > li > a { font-size: 13px; }
#main-nav {
	li { padding: initial; }
}
.hover-post { background: @highlightColor; display: block; overflow: hidden;  position: relative; 
	&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; box-shadow: inset 0 0 0 2px #000; transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-out;  opacity: 0;}
	img { transition: transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear; -moz-transition: -moz-transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear; -webkit-transition: -webkit-transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear;  }
	figure {
		&:after { content: "\f054"; font-family: 'fontAwesome'; font-size: 60px; position: absolute; color: #fff; top: 50%; left: 50%; margin-top: -40px; margin-left: -15px; 
			transform: translate(-100px, 0px);
			transition: transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out;
			-moz-transform: translate(-100px, 0px);
			-moz-transition: -moz-transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out;
			-webkit-transform: translate(-100px, 0px);
			-webkit-transition: -webkit-transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out;  opacity: 0; }
	}
	&:hover {
		&:after { opacity: 0.1; }
		img { transform: scale(1.7,1.7) rotateZ(20deg); -moz-transform: scale(1.7,1.7) rotateZ(20deg); -webkit-transform: scale(1.7,1.7) rotateZ(20deg);  opacity:0.1}
		figure { 
			&:after { transform: translate(0px,0px); -moz-transform: translate(0px,0px); -webkit-transform: translate(0px,0px); opacity: 1}
		}
	}
}

.hover-portfolio,
.hover-news {display: block; overflow: hidden;  position: relative; 
	&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; box-shadow: inset 0 0 0 2px #000; transition: opacity 0.3s ease-out; opacity: 0;}
	img { transition: transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear; -moz-transition: -moz-transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear; -webkit-transition: -webkit-transform 0.3s cubic-bezier(.1,1,.81,1), opacity 0.2s linear; }
	figure { overflow: hidden; background: @highlightColor;
		&:after { content: ""; font-family: 'fontAwesome'; font-size: 60px; position: absolute; color: #fff; top: 50%; left: 50%; margin-top: -40px; margin-left: -15px;  -webkit-transform: translate(-100px, 0px); transition: transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out; -moz-transition: -moz-transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out;  opacity: 0; -webkit-transition: -webkit-transform 0.25s cubic-bezier(.3,1.34,.81,1.15), opacity 0.2s ease-out; }
	}
	.portfolio-description,
	.news-description { position: absolute; color: #fff; bottom: 30px; left: 40px; padding-right: 40px; 
		.title { font-size: 17px; display: block; margin-bottom: 5px;  opacity: 0; transition: opacity 0.2s linear, transform 0.3s ease-out; -webkit-transform: translate(100px, 0px); -moz-transition: opacity 0.2s linear, -moz-transform 0.3s ease-out; -moz-transform: translate(100px, 0px); -webkit-transition: opacity 0.2s linear, -webkit-transform 0.3s ease-out;  }
		.content { display: block; text-rendering: optimizeLegibility; font-size: 11px;  opacity: 0; transition: opacity 0.3s ease-out, transform 0.3s  ease-out; -webkit-transform: translate(-100px, 0px); -moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s  ease-out; -moz-transform: translate(-100px, 0px); font-style: italic; -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s  ease-out;}
	}
	&:hover {
		img { -webkit-transform: scale(1.7,1.7) rotateZ(10deg); -moz-transform: scale(1.7,1.7) rotateZ(10deg);  opacity:0.1; transform: scale(1.7,1.7) rotateZ(10deg);}
		figure { 
			&:after { -webkit-transform: translate(0px,0px); -moz-transform: translate(0px,0px); transform: translate(0px,0px); opacity: 1}
		}
		.title { opacity: 1; transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px);}
		.content { opacity: 0.9;  transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px);}

	}

}

	footer {
		.menu { text-align: center; padding-top: 10px; padding-bottom: 10px;
			li { float: none !important; display: inline-block;}
		}
	}


	//.bg-opacity { width: 0 !important; height: 0 !important}
	.grid-sizer { width: 25%;}
	.portfolio-container { width: (@container-sm - 30); }
    .mosaic-elements((@container-sm - 30));
 	.clickOn { right: 50%; bottom: -150px; margin-left: -50px; }
	.bg-opacity { right: 50%; bottom: -150px; margin-left: -50px; }	   
}

@media (min-width: @screen-md) {
	.splash-navigation > li > a { font-size: 16px; }
	.grid-sizer { width: 25%;}
	.portfolio-container { width: (@container-md - 30);}
	.mosaic-elements((@container-md - 30));
	.blog { 
		.article-content { width: 25%; padding: 10px }
	}

	footer {
		.menu { 
			ul { padding: 20px 0; margin: 0;
				li { float: left !important;}
			.copyrights { float: right !important;}
			}
			
		}
	}
    

	.clickOn { right: 245px; top: 61%; }

	.bg-opacity {right: 245px; top: 61%; }	

}

@media (min-width: @screen-lg-min) {
	.grid-sizer { width: 25%;}
	.portfolio-container { width: (@container-lg - 30); }
    .mosaic-elements((@container-lg - 30));
	.clickOn { right: 345px; top: 61%; }
	.bg-opacity {right: 345px; top: 61%; }	    
}

@mosaicAspectRation : 1.58;
.mosaic-elements(@container-width) {
  	.mosaic-w1-h1 { width: 25%; height: ((@container-width * 0.25) / @mosaicAspectRation)}
	.mosaic-w2-h1 { width: 50%; height: ((@container-width * 0.25) / @mosaicAspectRation) }
	.mosaic-w2-h2 { width: 50%; height: (((@container-width * 0.25) / @mosaicAspectRation) * 2) }	
	.mosaic-w1-h2 { width: 25%; height: (((@container-width * 0.25) / @mosaicAspectRation) * 2) }	
}

.mosaic-elements-mobile(@container-width) {
  	.mosaic-w1-h1 { width: 50%; height: ((@container-width * 0.50) / @mosaicAspectRation)}
	.mosaic-w2-h1 { width: 50%; height: ((@container-width * 0.50) / @mosaicAspectRation) }
	.mosaic-w2-h2 { width: 50%; height: (((@container-width * 1) / @mosaicAspectRation)) }	
	.mosaic-w1-h2 { width: 50%; height: (((@container-width * 1) / @mosaicAspectRation)) }	
}

