#slides { position: relative;
	.slides-container { display: none; background: #fff; }
	.scrollable { *zoom: 1; position: relative; top: 0; left: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; height: 100%; }
	.scrollable:after { content: ""; display: table; clear: both; }	
	img { opacity: 0.1}
	li { background: #fff; position: relative; float: none;}
	.slide-content-wrapper { display: table; height: 100%; width: 70%; margin: 0 auto; }
	.slide-content { height: 100% ;display: table-cell; vertical-align: middle;   }
	.slide-header { font-size: 42px; color: #585858; font-weight: 400; margin-bottom: 25px; display: block;}
	p { font-size: 15px; color: #585858; font-weight: 400; width: 50%; margin: 0 auto; margin-bottom: 40px;  }
	.splash-button { text-transform: uppercase; display: inline-block; border: 2px solid #545759; color: #545759; width: initial; padding: 0 20px; font-size: 16px; font-weight: 400; line-height: 40px; letter-spacing: 1px; font-weight: 600; .trans(e('background-color 0.2s ease-out, color 0.2s ease-out'));
		&:hover { background: @highlightColor; color: #fff;


		  }
	}

}

.slides-navigation { margin: 0 auto; position: absolute; z-index: 3; top: 46%; width: 100%; 
	a { position: absolute; display: block; background: #000; padding:15px; color: #fff; opacity:0.15; .trans(opacity 0.2s ease-out);
		&.prev { left: 0; }
		&.next { right: 0; }
		&:hover { opacity: 0.35;}
	}
}

.slides-pagination { position: absolute; z-index: 3; bottom: 0; text-align: center; width: 100%;
	a { border: 2px solid #222; border-radius: 15px; width: 10px; height: 10px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII="); margin: 2px; overflow: hidden; text-indent: -100%; 
		&.current { background: #222; }
	}
}
