html, button, input, select, textarea {
	color: #222;
}
body {
	font-size: 1em;
	line-height: 1.4;
	font-family: 'sensation';
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}
::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
	height: 100%;
}
body {
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.col-md-4 {
	padding-bottom: 20px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
}
.modal-header {
	background: #ffbf00;
}
.modal-header h4 {
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.modal-footer {
	background: #2b2b2b;
}
.navbar-default {
	border-color: transparent;
	background-color: #dadada;
}
.navbar-inverse .navbar-brand {
	font-weight: 500;
	font-size: 20px;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #16a085;
	color: #ccc;
}
a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 200;
	color: #333;
}
h2 {
	font-size: 36px;
	color: #777;
}
h3 {
	font-size: 26px;
}
/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 20px;
}
p.large {
	font-size: 20px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
blockquote, blockquote p {
	line-height: 28px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}
blockquote {
	position: relative;
	margin: 0 0 40px -30px;
	padding-left: 30px;
	border-left: 5px solid #3498db;
}
blockquote cite {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: #333;
	font-weight: 300;
}
blockquote cite:before {
	content: "-- "
}
/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #4abcc5;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
 #navbar-main {
 	position: static;
 	top: 0;
 }

#headerwrap {
	margin:100px 0 0 0;
	padding: 0;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	  min-height: 400px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#headerwrap h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
}
#headerwrap p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}
#headerwrap .icon {
	color: #ffffff;
	margin-top: 90px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
	text-shadow: 0px 20px 7px #3da8ae;
}
#headerwrap .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 0;
	background-color: #ffbf00;
	color: #fff;
	text-shadow: 0 0 4px #bf9004;
	box-shadow: -5px -5px 20px #3da8ae;
	border: 0;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
	background-color: #e9af03;
	outline: 0px;
}
#about {
	background: #e6e6e6;
	padding: 40px 0;
}
#about img {
	margin-top: 65px;
}
#services {
	background: #464749;
	padding: 80px 0 60px;
	text-align: center;
}
#services h2 {
	text-align: center;
}
#services .fa {
	color: #ffbf00;
}
#services p {
	text-align: left;
}
#team {
	background: #f5f5f5;
	padding: 60px 0;
}
#team H4 {
	padding-top: 10px;
}
#team p.large {
	margin-top: 60px;
	margin-bottom: 40px;
}
#team .fa {
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border-radius: 100%;
	font-size: 15px;
	line-height: 30px;
	outline: 0;
	color: #fff;
	background-color: #c4c4c4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#team .fa:hover {
	background-color: #ffbf00;
}
#portfolio {
	background: #fff;
	padding: 60px 0 0 0;
}
#portfolio h2 {
	text-align: center;
}
#portfolio .btn-default {
	border: 0;
}
#contact {
	background: #fff;
	padding: 60px 0;
	text-align: center;
}
#contact .form {
	padding: 30px 0;
}
#contact .fa {
	color: #ffbf00;
	margin-bottom: 10px;
}
#contact .btn {
	font-weight: 500;
	font-size: 18px;
	margin-top: 50px;
	background-color: #ffbf00;
	color: #fff;
	border: 0;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #e9af03;
	outline: 0px;
}
#greywrap {
	background: #f5f5f5;
	margin-top: 0px;
	padding: 50px 0;
	border-bottom: 1px solid #eee;
	text-align: center;
}
#greywrap .btn {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 20px;
	margin: 0 25px;
	background-color: #fff;
	border-color: #e2e2e2;
	color: #888;
	border-bottom: 0;
	letter-spacing: 1px;
}
#greywrap .btn:hover, #greywrap .btn:focus {
	margin: 0 25px;
	background-color: #fff;
	border-color: #a5cdd5;
	border-bottom: 0;
	outline: 0px;
	color: #a5cdd5;
}
#greywrap h2 {
	font-size: 30px;
}
#greywrap .callout {
	margin-bottom: 20px;
}
#greywrap p {
	font-size: 30px;
}
#greywrap .fa {
	font-size: 18px;
	margin-right: 4px;
}
#footerwrap {
	background: #2b2b2b;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #ffbf00;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}
ul.social-buttons {
	margin: 0;
}
ul.social-buttons li a {
	font-size: 24px;
	outline: 0;
	color: #999;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: #ffbf00;
}
/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
	color: #999;
}
.white p {
	padding-top: 25px;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
	border: 1px solid #eee;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: #ffbf00;
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
}
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #fff;
	font-size: 13px;
}
/* Caption Style */
.mask figure {
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mask figure:hover img, .mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 30px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
#headerwrap h1 {
	font-size: 80px;
}
#headerwrap p {
	font-size: 30px;
	line-height: 38px;
}
}



#navbar-main {
}
#navbar-main .navbar {
	min-height: 98px;
	background: #FFF;
	border: 0;
	margin: 0;
}


/** Limpieza **/
#limpieza h2{
  background: #00a0c2;
  text-align: center;
  color: #FFF;
  margin: 0;
  font-size: 25px;
  line-height: 50px;
  height: 50px;
}
#limpieza .row-content {
	max-width: 680px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}
#limpieza .row-content .views-row {
	float: left;
	width: 170px;
	text-align: center;
	overflow: hidden;
}

#limpieza .views-field-nothing {
	width: 160px;
	display: block;
	min-height: 180px;
	padding: 0 5px
}
#limpieza .views-field-nothing img{
	width: 75%;
	height: auto;
}

#limpieza .views-field-nothing-1 {
	background: rgb(0, 160, 194);
	color: #FFF;
	width: 160px;
	overflow: hidden;
	min-height: 180px;
	border-radius: 5px;
	padding: 0 5px
}
#about {
	margin-top: 80px;
}
#about h2 {
	color: #009fc1;
}
#about .col-md-6 {
	text-align: justify;
	color: #636365;
	margin: 0 auto;
	float: none;
	max-width: 700px;
	padding: 0;
}

#services {
  color: #FFF;
}
#services .row {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 0 40px 0;
	text-align: left;
}
#services .row .views-slideshow-pager-field-item {
	width: 137px;
	height: 37px;
	float: left;
	margin-right: 20px;
}
#services .row .views-slideshow-pager-field-item .views-field-title {
	display: block;
	background: #ffffff;
	text-align: center;
	font-weight: bold;
	color: #00a0c2;
	width: 136px;
  height: 37px;
  line-height: 37px;
  border-radius: 4px;
}
#services .row .views-slideshow-pager-field-item.active .views-field-title{
  color: #ffffff;
  background: #00a0c2;
}

#services .views-field-field-service-imagenes{
	float: left;
	width: 227px;
}
#services .views-field-field-service-imagenes li {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

#services .views-row .views-field-title {
	font-size: 18px;
	text-transform: uppercase;
}
#services .views-slideshow-controls-bottom {
	margin-left: 220px;
}

/** Menu **/
.navbar-collapse {
	margin: 38px 0 0 0;
}
.navbar-collapse .navbar-nav li.active a{
	background-color: #00a0c2!important;
	border-radius: 5px 5px 0 0;
	padding: 10px 8px 37px 8px;
}

/* Slide **/
.view-slide .views-slideshow-cycle-main-frame img {
	width: 100%;
}
.views-slideshow-cycle-main-frame-row,
#views_slideshow_cycle_main_slide-block,
#views_slideshow_cycle_teaser_section_slide-block {
	width: 100%!important;
	margin: 0;
	padding: 0;
}

.view-slide .views-slideshow-controls-text{
  position: relative;
}

.view-slide .views-slideshow-controls-text .views-slideshow-controls-text-pause {
	display: none;
}

.view-slide .views-slideshow-controls-text .views-slideshow-controls-text-previous {
	position: absolute;
	top: 210px;
	left: 50px;
	width: 44px;
	height: 44px;
	z-index: 9999;
}

.view-slide .views-slideshow-controls-text .views-slideshow-controls-text-previous a {
	width: 44px;
	height: 44px;
	display: block;
	background: url('../img/arrow_left.png') no-repeat;
	text-indent: -500em;
}

.view-slide .views-slideshow-controls-text .views-slideshow-controls-text-next {
	position: absolute;
	top: 210px;
	right: 50px;
	width: 44px;
	height: 44px;
	z-index: 9999;
}

.view-slide .views-slideshow-controls-text .views-slideshow-controls-text-next a {
	width: 44px;
	height: 44px;
	display: block;
	background: url('../img/arrow_right.png') no-repeat;
	text-indent: -500em;
}

/** pre Footer **/
#pre-footer {
	padding: 20px 0;
	overflow: hidden;
	background: #00a0c2;
	clear: both;
	color: #fff;
}
#pre-footer .region {
	max-width: 900px;
	margin: 0 auto;
}
#pre-footer h2 {
	margin: 0;
}

#pre-footer #block-block-2 {
	float: left;
	width: 255px;
	margin-right: 60px;
}
#pre-footer #block-block-2 .content {
	display: none;
}

#pre-footer #block-views-lista-de-servicios-block-1 {
	float: left;
	width: 255px;
	margin-right: 60px;
}
#pre-footer #block-views-lista-de-servicios-block-1 .content a {
	color: #fff;
}

#pre-footer #block-block-3 {
	float: left;
	width: 255px;
}

#pre-footer #block-block-3 .row1{
  background: url('../img/iconos.gif') no-repeat;
  padding: 0 0 0 30px;
  margin-bottom: 6px;
}

#pre-footer #block-block-3 .row2{
  background: url('../img/iconos.gif') no-repeat 0 -37px;
  padding: 0 0 0 30px;
  margin-bottom: 6px;
}
#pre-footer #block-block-3 .row2 a {
	color: white;
}

#pre-footer #block-block-3 .row3{
  background: url('../img/iconos.gif') no-repeat 0 -72px;
  padding: 0 0 0 30px;
}

#footer {
	text-align: center;
}

#mapa h2{
  background: #58595b;
  padding: 32px 0;
  text-align: center;
  color: #FFF;
  margin: 0;
}
#mapa img {
	width: 100%;
	height: auto;
}

#portfolio {
	overflow: hidden;
}
#portfolio h2 {
	color: #00a0c2;
}
#portfolio li {
	border: 0;
	margin: 0 20px;
	width: 137px;
}

#portfolio .jcarousel-prev {
	background: url('../img/arrows_left.png') no-repeat;
	width: 27px;
	height: 27px;
}

#portfolio .jcarousel-next {
	background: url('../img/arrows_right.png') no-repeat;
	width: 27px;
	height: 27px;
}



.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 900px;
	padding: 0;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
	width: 900px;
	padding: 0
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal li .field-content {
	line-height: 120px;
}
.jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal li img{
	vertical-align: middle;
}


#contacto {
	background: #e0e0e0;
	margin-top: 100px;
}
#contacto ul {
	margin:0;
}
#contacto ul.quicktabs-tabs li {
	width: 49.8%;
	margin: 0;
	display: block;
	float: left;
	padding: 27px 0;
	text-align: center;
	background: #999;
	font-size: 24px;
	color: #595a5c;
}
#contacto ul.quicktabs-tabs li a {
	display: block;
}
#contacto ul.quicktabs-tabs li.active {
	background: #e0e0e0;
}

#contacto #quicktabs-container-formularios {
	clear: both;
}

#contacto label {
	display: none;
}

#contacto .node-form {
	max-width: 900px;
	margin: 0 auto;
	padding: 15px 0;
}

#contacto .node-form .form-item {
	width: 218px;
	float: left;
	margin: 0 8px 8px 0;
}
#contacto .node-form .form-item-field-contact-email-und-0-value {
	margin-right: 0;
}
#contacto .node-form .form-item input {
	border-radius: 4px;
	border: 0;
	height: 23px;
	padding: 0 0 0 10px;
	width: 98%;
}
#contacto .node-form .field-name-body .form-item{
	clear: both;
	width: 100%;
}
#contacto .node-form .field-name-body .form-item textarea {
	width: 99%;
	border: 0;
	padding-left: 10px;
	border-radius: 4px;
}
#contacto .node-form .field-name-body .grippie {
	display: none;
}

#contacto #edit-actions--4,
#contacto #edit-actions--3,
#contacto #edit-actions--2 {
	float: right;
	margin-right: 10px;
}
#contacto #edit-actions--4 input,
#contacto #edit-actions--3 input,
#contacto #edit-actions--2 input {
	width: 110px;
	height: 26px;
	background: #00a0c2;
	color: #fff;
	border-radius: 4px;
	border: 0;
}
.navbar-inverse .navbar-nav > li > a {
	padding-top: 10px;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #ccc!important;
}

body {
	margin: 100px 0 0 0!important;
}

#navbar-main {
	position: static;
	top: 0;
}

.view-mode-colorbox h2 {
	color: #00a0c2;
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
}
.view-mode-colorbox p {
  line-height: 14px;
}

.view-mode-colorbox .row {
	width: 99%;
}
.view-mode-colorbox .row .left {
	float: left;
	width: 40%;
	padding-left: 20px;
}

.view-mode-colorbox .row .right {
	float: right;
	width: 40%;
	padding-right: 20px;
	text-align: right;
}